.loginbtn {
    background-color: white;
    color: black;
    padding: 0.5em 1em;
    border: 1px solid black;
    border-radius: 1em;
    font-size: 0.8em;
    font-weight: bold;

}

.navbar {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    position: fixed;
    top: 0px;
    padding: 1.5em;
    z-index: 5;
}

.loginbtn:hover {
    background-color: black;
    cursor: pointer;
    color: white
}

.getappbtn {
    background-color: black;
    color: white;
    font-size: 0.8em;
    padding: 0.5em 1em;
    border-radius: 1em;
    font-weight: bold;
    margin-right: 2.5em;
}

.getappbtn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.options {
    display: flex;
    justify-content: "space-around";
    padding: 0.2em
}

.options div {
    margin-left: 2em;
    font-weight: 400;
}

.options div:hover {
    color: #6FB2D2;
    cursor: pointer;
    text-decoration: underline;
}

.homepageDiv {
    margin-top: 10em;
    width: 60%;
    margin-left: 12%;
}

.heading {
    margin-top: 5%;
    font-size: 3.8em;
}

.adv {
    position: absolute;
    background-color: #A2D2FF;
    justify-content: center;
    align-items: center;
    padding: 1.5% 30% 1.5% 30%;
    border-radius: 0.5em;
}

.underline {
    text-decoration: underline;
    font-weight: bold;
}

.closebtn {
    position: relative;
    left: 110%;
    font-weight: bold;
    padding: 0.5em;
}

.closebtn:hover {
    cursor: pointer;
    background: white;
    border-radius: 50%;
}

.prodAndFilter {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 65%;
    grid-gap: 5%;
    margin-top: 3.5em;
}

/* .prodAndFilter div {
    border: 1px solid black;
} */

.searchBar {
    width: 63.5vw;
    display: flex;
    flex-direction: row;
    border-radius: 0.4em;
    border-bottom: 3px solid black;
}



.searchBar input {
    border: none;
    border-left: none;
    padding: 1em 1em;
    font-size: 1em;
}

.searchBar input:focus {
    outline: none;
}

.searchBar input:hover {
    border: none;
}

.categoriesHover:hover {
    color: #6FB2D2;
    cursor: pointer;
    text-decoration: underline;
}

.types {
    display: flex;
    justify-content: space-between;
}

.types:hover {
    cursor: pointer;
}

.productsDiv {
    margin-top: 2em;
    width: 164%;
    display: grid;
    padding: 1em;
    grid-template-columns: repeat(4, 23%);
    grid-gap: 2%;
}

.productsDiv img {
    width: 100%;
    border-radius: 2em;
    opacity: 0.9;
}

.productsDiv img:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.5s;
    cursor: pointer;
}

.offer {
    position: absolute;
    left: 0.5em;
    font-size: 2em;
    font-weight: bolder;
    bottom: 2.5em;
    z-index: 3;
    color: white
}

.productsDiv>div:nth-child(7) .offer {
    color: black;
}

.footerContainer {
    margin-top: 5%;
    width: 91.5%;
    background-color: rgb(14, 14, 15);
    color: rgb(255, 255, 255);
    padding: 5px 5em;
    display: grid;
    grid-template-columns: repeat(4, 24%);
}

.footerContainer>div {
    padding: 1em;
}

.footerContainer>div p:hover {
    color: #6FB2D2;
    cursor: pointer;
}

.selectCountry {
    width: 100%;
    cursor: pointer;
    height: 60px;
    font-size: 1em;
    font-weight: bold;
    /* appearance: menulist-button; */
    padding: 1em;
    border: none;
}

.social>div {
    margin-right: 1.5em;
}