.loginbtn {
    background-color: white;
    color: black;
    padding: 0.5em 1em;
    border: 1px solid black;
    border-radius: 1em;
    font-size: 0.8em;
    font-weight: bold;

}

.menuClick {
    width: 100%;
    position: fixed;
    height: 100vh;
    top: 5em;
    z-index: 12;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    font-weight: bold;
}



.menuClick div {
    display: flex;
    justify-content: left;
    padding: 2em;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

}

.navbar {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    position: fixed;
    top: 0px;
    padding: 1.5em;
    z-index: 5;
}

.loginbtn:hover {
    background-color: black;
    cursor: pointer;
    color: white
}

.getappbtn {
    background-color: black;
    color: white;
    font-size: 0.8em;
    padding: 0.5em 1em;
    border-radius: 1em;
    font-weight: bold;
    margin-right: 2.5em;
}

.getappbtn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.options {
    display: flex;
    justify-content: "space-around";
    padding: 0.2em
}

.options div {
    margin-left: 2em;
    font-weight: 400;
}

.options div:hover {
    color: #6FB2D2;
    cursor: pointer;
    text-decoration: underline;
}

.homepageDiv {
    /* position: absolute; */
    margin-top: 10em;
    width: 60%;
    margin-left: 12%;
}

.heading {
    margin-top: 5%;
    font-size: 3.8em;
}

.adv {
    position: absolute;
    background-color: #A2D2FF;
    justify-content: center;
    align-items: center;
    padding: 1.5% 30% 1.5% 30%;
    border-radius: 0.5em;
}

.underline {
    text-decoration: underline;
    font-weight: bold;
}

.popupOffer {
    position: absolute;
    left: 1.5em;
    font-size: 2em;
    font-weight: bolder;
    bottom: 6em;
    z-index: 3;
    color: white;
}

.popupDiv {
    width: 20em;
    padding: 2em;
    background-color: white;
    position: fixed;
    top: 25%;
    left: 45%;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.popupDiv button {
    width: 100%;
    color: white;
    background-color: black;
    padding: 1em 5em;
    font-weight: bolder;
}

.closePopup {
    position: absolute;
    top: 1.5em;
    right: 1em;
    width: 1em;
    height: 1em;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
    padding-left: 0.8em;
    cursor: pointer;
    background-color: silver;
    border-radius: 50%;
}

.popupDiv img {
    width: 100%;
}

.closebtn {
    position: relative;
    left: 110%;
    font-weight: bold;
    padding: 0.5em;
}

.closebtn:hover {
    cursor: pointer;
    background: white;
    border-radius: 50%;
}

.prodAndFilter {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 65%;
    grid-gap: 5%;
    margin-top: 3.5em;
}

/* .prodAndFilter div {
    border: 1px solid black;
} */

.searchBar {
    width: 55.8vw;
    display: flex;
    flex-direction: row;
    border-radius: 0.4em;
    border-bottom: 3px solid black;
}



.searchBar input {
    border: none;
    border-left: none;
    padding: 1em 1em;
    font-size: 1em;
}

.searchBar input:focus {
    outline: none;
}

.searchBar input:hover {
    border: none;
}

.categoriesHover:hover {
    color: #6FB2D2;
    cursor: pointer;
    text-decoration: underline;
}

.types {
    display: flex;
    justify-content: space-between;
}

.types:hover {
    cursor: pointer;
}

.productsDiv {
    margin-top: 2em;
    width: 145%;
    display: grid;
    padding: 1em;
    grid-template-columns: repeat(4, 23%);
    grid-gap: 2%;
}

.productsDiv img {
    width: 100%;
    border-radius: 2em;
    opacity: 0.9;
}

.productsDiv img:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.5s;
    cursor: pointer;
}

.offer {
    position: absolute;
    left: 0.5em;
    font-size: 2em;
    font-weight: bolder;
    bottom: 2.5em;
    z-index: 3;
    color: white
}

.productsDiv>div:nth-child(7) .offer {
    color: black;
}

.mainFooterDiv {
    width: 100%;
    background-color: rgb(14, 14, 15);
}

.footerContainer {
    margin-top: 5%;
    color: rgb(255, 255, 255);
    padding: 5px 5em;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.footerContainer>div {
    padding: 1em;
}

.footerContainer>div p:hover {
    color: #6FB2D2;
    cursor: pointer;
}

.selectCountry {
    width: 100%;
    cursor: pointer;
    height: 60px;
    font-size: 1em;
    font-weight: bold;
    /* appearance: menulist-button; */
    padding: 1em;
    border: none;
}

.social>div {
    margin-right: 1.5em;
}

.finalFooter {
    display: grid;
    grid-template-columns: 65% 30%;
    grid-gap: 5%;
    background: black;
    padding: 6em;
    color: white;
}

.finalDivFlex {
    display: flex;
    justify-content: space-evenly;
}

.finalDivFlex>div:hover {
    color: #6FB2D2;
    cursor: pointer;
}

.navbar2 {
    display: flex;
    margin-right: 40em;
}

.menuBtn {
    display: none;
}

.socialMedia {
    width: 2.5em;
    height: 2.5em;
    border: inherit
}

.terms {
    display: flex;
    flex-direction: column
}

.social {
    display: flex;
    padding: 1em;
}

.categoriess::-webkit-scrollbar {
    display: none;
}

.productsDiv::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width:1100px) {
    .navbar2 {
        display: none;
    }

    .loginbtn {
        font-size: 1em;
    }

    .menuBtn {
        width: 30px;
        height: 30px;
        display: block;
        margin-right: 2em;
        justify-content: center;
        padding: 0.2em;
        align-items: center;
        font-size: 2em;
        border-radius: 0.4em;
        background-color: black;
        cursor: pointer;
        color: white;
    }

    .getappbtn {
        display: none;
    }

    .adv {
        display: 'none'
    }

    .productsDiv {
        display: grid;
        grid-template-columns: repeat(3, 32%)
    }

    .heading {
        font-size: 2em;
    }

    .prodAndFilter {
        display: grid;
        grid-template-columns: 35% 70%;
        grid-gap: 5%;
    }

    .searchBar {
        width: 143%;
        margin-left: 1em;
    }

    .mainFooterDiv {
        width: 100%;
    }

    .social {
        display: grid;
        grid-template-columns: repeat(4, 22%)
    }

    .footerContainer {
        display: grid;
        grid-template-columns: repeat(4, 25%);
    }

    .socialMedia {
        width: 1em;
        height: 1em;
        border: inherit
    }

    .finalDivFlex {
        display: grid;
        grid-template-columns: repeat(3, 32%);
    }

    .popupDiv {
        width: 20em;
        padding: 2em;
        background-color: white;
        position: fixed;
        top: 25%;
        left: 35%;
        z-index: 10;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    }
}

@media (max-width:800px) {
    .productsDiv {
        width: 130%;
        display: grid;
        grid-template-columns: repeat(2, 47%);
        grid-gap: 5%;
    }

    .prodAndFilter {
        display: block;
    }

    .categoriess {
        width: 140%;
        display: flex;
        overflow-x: scroll;
        white-space: nowrap;

    }



    .categoriess div {
        margin-right: 1em;
        background-color: rgb(240, 241, 241);
        padding: 0.5em;
        border-radius: 1em;

    }

    .filtersDiv {
        display: none;
    }

    .categoriess div:hover {
        text-decoration: none;
        color: black;
    }

    .popupDiv {
        width: 20em;
        padding: 2em;
        background-color: white;
        position: fixed;
        top: 25%;
        left: 25%;
        z-index: 10;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    }

    .searchBar {
        margin-top: 1em;
        width: 134%;
        margin-left: 0;
    }

    .mainFooterDiv {
        width: 95%;
        padding: 1em;
        background-color: rgb(14, 14, 15);
    }

    .navbar {
        width: 90%;
    }

    .loginbtn {
        margin-right: 10px;
    }

    .menuBtn {
        margin-right: 10px;
    }

    .footerContainer {
        width: 82%;
        padding: none;
        font-size: 0.8em;
        display: grid;
        grid-template-columns: repeat(4, 24%);
        grid-gap: 1%;
    }

    .finalFooter {
        font-size: 0.8em;
    }

    .rightarrow {
        margin-left: 90%;
    }
}

@media (max-width:460px) {

    .navbar {
        width: 90%;
        padding: none;
    }

    .productsDiv {
        display: flex;
        flex-direction: column;
    }

    .categoriess {
        width: 120%;
        display: flex;
        overflow-x: scroll;
        white-space: nowrap;

    }

    .popupDiv {
        width: 15em;
        padding: 2em;
        background-color: white;
        position: fixed;
        top: 15%;
        left: 10%;
        z-index: 10;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    }

    .mainFooterDiv {
        width: 95%;
        padding: 0.5em;
        background-color: rgb(14, 14, 15);
    }

    .footerContainer {
        width: 95%;
        padding: 0.5em;
        font-size: 0.8em;
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-gap: 1%;
    }

    .footerContainer div:nth-child(3) {
        display: none;
    }

    .finalFooter {
        display: block;
        width: 88%;
        padding: 2em;
    }

    .finalFooter div:nth-child(2) {
        margin-top: 5%;
        display: grid;
        grid-template-columns: repeat(5, 19%);
    }

    .social {
        display: grid;
        grid-template-columns: repeat(4, 24%);
        grid-gap: 1%;
    }

    .socialMedia {
        width: 1em;
        height: 1em;
        border: inherit
    }

    .rightarrow {
        margin-left: 80%;
    }

}